@import "../abstracts/variables";
@import "../abstracts/mixins";

#donate {
  .card-container {
    border: 1px solid #d1ceca;
    border-radius: 10px;
    .progress-container {
      background-color: #f2f0ec;
      .statistics-container {
        .currency {
          font-size: 18px;
          color: #000;
        }
        p {
          font-size: 14px;
          color: #727272;
        }
      }
    }
  }
}
