@import "../abstracts/variables";

.header-nav {
  width: 100%;
  z-index: 2;
  background: rgba(16, 16, 16, 0.981);
  box-shadow: 0 0 20px 0 rgba( 255, 255, 255, 0.3);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );

  a,
  a.nav-link {
    color: $navbarColor;
    &.active {
      color: $secondaryColor;
    }
  }
  .navbar-brand {
    color: $secondaryColor;
    color:#FF8000 !important;
    text-transform: uppercase;
    font-weight: bold;
  }
  .navbar-brand-2 {
    color: $secondaryColor;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 10px;
  }
  //#basic-navbar-nav {
  //  background: rgba( 198, 191, 191, 0.55 );
  //  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  //  backdrop-filter: blur( 7px );
  //  -webkit-backdrop-filter: blur( 7px );
  //}
}


.navbar-light .navbar-nav .nav-link {

  color: #FF8000 !important;
}
